extends layout

block contenido
  form(method='POST')
    legend Create User
    .form-group
      label(for='confirm') Username
      input.form-control(type='text', name='username')    
    .form-group
      label(for='password') Email
      input.form-control(type='text', name='email', autofocus=true)
    .form-group
      label(for='confirm') Password
      input.form-control(type='password', name='password')
    .form-group
      label(for='confirm') Rol
      select.selectpicker.form-control(name='takeRol')
        option(value=Suppot) Support
        option(value=Admin) Admin            
    .form-group
      button.btn.btn-primary(type='submit') Create 