doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    script(type='text/javascript',src='/js/jquery-1.11.3.min.js')
    title Change Password
    style.
      .espacio{
      margin-top:4%;
      } 
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') SATR
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                if user
                  li              
                    if user.rol == 'Admin'              
                      li
                        a(href='/admin/users') Users
                      li
                        a(href='/admin/rooms') Rooms                
                      li
                        a(href='/logout') Logout
                    else 
                      if user.rol == 'Support'
                        li
                          a(href='/support/rooms') Rooms               
                        li
                          a(href='/logout') Logout                  

  .container
    .espacio
      form.form-horizontal
        fieldset
          // Form Name
          legend Change Password
          // Text input
          .form-group
            label.col-md-4.control-label(for='textinput') New Password
            .col-md-4
              input#textinput.form-control.input-md(name='changedPassword', type='password', placeholder='New password')
          // Text input
          .form-group
            label.col-md-4.control-label(for='textinput') Repeat Password
            .col-md-4
              input#textinput.form-control.input-md(name='confirm', type='password', placeholder='Repeat password')
          // Button
          .form-group
            label.col-md-4.control-label(for='singlebutton') Confirm New Password?
            .col-md-4
              button#singlebutton.btn.btn-primary(type='submit') Yes
