extends layout

block contenido 
        .container
                h1 URL No Valida
        .content-block
                p La url que has indicado no es correcta o has sido redirigido a un sitio equivocado.
                a.btn(href='/') Volver a la página principal
