doctype html
html
  head
    title 404 NOT FOUND
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
  body
    // start-wrap-
    .wrap
      // -start-header--
      .header
        .logo
          h1
            a(href='#') Ohh
      // -End-header--
      // start-content----
      .content
        img(src='images/error-img.png', title='error')
        p
          span
            label O
            | hh.....
          | You Requested the page that is no longer There.
        a(href='/') Back To Home
      // End-Cotent----
    // End-wrap-
