doctype html
html
  head
    title 404 NOT FOUND
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    script(type='text/javascript',src='/js/jquery-1.11.3.min.js')
  body
    // start-wrap-
    .wrap
      // -start-header--
      .header
        .logo
          h1
            a(href='#') Page Not Found
      // -End-header--
      // start-content----
      .content
        img(src='images/error-img.png', title='error')
        p
          span
            label O
            | hh.....
          | You may have missed.
        a(href='/') Back To Home
      // End-Cotent----
    // End-wrap-
