doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', type='text/css', href='/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/recover_password.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(href='https://fonts.googleapis.com/css?family=Passion+One', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oxygen', rel='stylesheet', type='text/css')
    title Recover Password

  body     
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') SATR
            .collapse.navbar-collapse
              ul.nav.navbar-nav
                li.active
                if user
                  li              
                    if user.rol == 'Admin'              
                      li
                        a(href='/admin/users') Users
                      li
                        a(href='/admin/rooms') Rooms                
                      li
                        a(href='/logout') Logout
                    else 
                      if user.rol == 'Support'
                        li
                          a(href='/support/rooms') Rooms               
                        li
                          a(href='/logout') Logout                  
           
    .container
      .row.main
        .main-login.main-center
          form.form-horizontal(method='post', action='#')
            .form-group
              label.cols-sm-2.control-label(for='email') Your Email
              .cols-sm-10
                .input-group
                  span.input-group-addon
                    i.fa.fa-envelope.fa(aria-hidden='true')
                  input#email.form-control(type='text', name='recoverEmail', placeholder='Enter your Email')
                small.text-muted To reset your password, submit your email address
            .form-group
              button.btn.btn-primary.btn-lg.btn-block.login-button(type='submit') Reset password
            .login-register
              a(href='/') Login