extends layout

block contenido
	.recover-container
		form(method='POST')
			legend Forgot Password
			.form-group
				label(for='email') Email
				input.form-control(type='text', name='recoverEmail', autofocus)
			.form-group
				button.btn.btn-primary(type='submit') Recover Password              