extends layout

block contenido
  form(method='POST')
    legend Forgot Password
    .form-group
      label(for='email') Email
      input.form-control(type='text', name='recoverEmail', autofocus)
    button.btn.btn-primary(type='submit') Recover Password              