html
  head
    title SATR
    meta(charset='UTF-8')
    meta(name='token', content='{{token}}')
    meta(name='client', content='{{client}}')
    meta(name='support', content='{{support}}')
    meta(name='rol', content='{{rol}}')
    script(src='/js/jquery.min.js')  
    script(src='/js/erizo.js')
    script(src='/js/room.js')
    link(rel='stylesheet', href='/css/room.css')
  body
    #main
      #d-right
        #video-teacher
        #video-teacher2
        #wrapper
          #chatbox
          form#message
            input#usermsg(name='usermsg', type='text', size='63')
            input#submitmsg(name='submitmsg', type='submit', value='Send')
      #screen-teacher
    button Salir
