    /*CSS TEMPLATE LOGIN.JADE*/
    .login-container{
      margin: auto;
      width: 40%;
    }
    input[type='checkbox']{
    	margin-top: 2px;
    	position: absolute;
    	width: 210px;
    }
    /*CSS TEMPLATE RECOVER-PASSWORD.JADE*/
    .recover-container{
      margin: auto;
      width: 40%;
      margin-top: 50px;
    }     
    /*CSS TEMPLATE CHANGE-PASSWORD.JADE*/
    .change-container{
      margin: auto;
      width: 40%;
      margin-top: 20px;
      margin: 10px;
    } 
    /*CSS TEMPLATE ADMIN-USERS.JADE*/
    .admin-container{
      margin: auto;
      width: 75%;
      height: 350px;
      overflow: auto;
      margin-top: 10px;
    }       
    #edit-user , #delete-user{
      margin-right: 5px;
    }
    #create-user{
      margin: auto;
      position:relative;

    }
    /*CSS TEMPLATE ADMIN-UPDATEUSER.JADE*/
    .update-container{
      margin: auto;
      width: 65%;
    }
    /*CSS TEMPLATE ROOM.JADE*/
    #Room{
      background-color: #C0C0C0;
    }
    #Usuario{
      position: relative;
      float: left;
      width: 200px;
      height: 200px;
      background-color: #f5f5f5;      
      border: 1px solid black;
      border-radius: 4px;
      left: 3px;
    }
    #Pantalla{
      position: relative;
      background-color: #f5f5f5;
      border: 1px solid black;
      float: left;
      width: 600px;
      height: 530px;
      border-radius: 4px;
      left: 6px;   
    }    
    #Support{
      position: relative;
      float: left;
      width: 200px;
      height: 200px;
      background-color: #f5f5f5;      
      border: 1px solid black;      
      border-radius: 4px;
      left: 9px;
      
    }


